{% extends 'base.html.twig' %}

{% block title %}Detail {% endblock %}

{% block body %}
    <h1>{{ pin.title }}</h1>
    <p>{{ pin.description }}</p>
    <a href="{{ path('app_home') }}">Back</a>
{% endblock %}